@model IEnumerable<TKDLocalWebClient.Model.Category>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFreestyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentRound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poomsae11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poomsae12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poomsae21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poomsae22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poomsae31)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poomsae32)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFreestyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentRound)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poomsae11.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poomsae12.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poomsae21.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poomsae22.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poomsae31.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poomsae32.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>